
body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(191, 229, 217);
}

p {
    font-size: 20px;
    font-weight: bold;
}

.btn {
    color: white;
    background-color: cadetblue;
    border-radius: 5px;
    width: 15vw;
    height: 40px;
    width: 200px;
    margin-bottom: 30px;
    margin-right: 10px;
    border: none;
    cursor: pointer;
    margin: 10px;
}

.btn:hover {
    background-color: #45a049;
}
  
.btn:active {
    background-color: #060a07;
}

.selected{
    background-color:#45a049;
}

#changeExercicio {
    position: absolute;
    bottom: 150px;
    right: 150px;
    display: none;
    
}


h1 {
    font-weight: bold;
    margin-bottom: 5px;
}

.timer {
    font-size: 80px;
    color :white;
    border-Radius :8px;
    width : 50%;
    height :30%;
    display :flex;
    justify-Content :center;
    align-items :center;
}

#mostraExercicio {
    background-color : white;
    border-radius : 8px;
    width : 50%;
    height : 50%;
    justify-Content : center;
    align-Items : center;
    flex-direction: column;
    padding : 20px
}

.hidden {
    display: none;
}

.show {
    display : flex;
    justify-Content : center;
    align-Items : center;
    flex-direction: column;
    padding : 20px
}